
<panel>
    <div class="navbar-brand">{opts.panel.title}</div>

    <ul class="navbar-nav nav">
        <li each={opts.panel.items} class="dropdown">
            <a if={!items} href="#{url}">{title}</a>
            <a if={items} href="#" onclick={ this.parent.toggleMenu } class="dropdown-toggle">{title} <span class="caret"></span></a>
            <ul if={items} class="dropdown-menu">
                <li each={items}>
                    <a href="#{url}">{title}</a>
                </li>
            </ul>
        </li>
    </ul>

    <a href="#" onclick={close} class="admin_panel_close">Закрыть</a>

    <script>
        var self = this;

        this.on('mount', function() {
            opts.panel.trigger('update');
        });

        opts.panel.on('redraw', function(){
            self.update();
        });

        close(e){
            $('#admin_link').show();
            $.removeCookie('grass_panel');
            $('#admin_panel').slideUp(function(){
                self.unmount(true);
            });
        };

        toggleMenu(e){
            var $src = $(e.srcElement);
            var $parent = $src.parent();

            if($parent.hasClass('open')){
                $parent.removeClass('open');
                return;
            }
            $('.dropdown').removeClass('open');
            $parent.addClass('open');
        }

    </script>
</panel>
