
<panel>
    <p>{opts.panel.title}</p>

    <ul>
        <li each={opts.panel.items}>
            <a href="#{url}">{title}</a>
            <ul if={items}>
                <li each={items}>
                    <a href="#{url}">{title}</a>
                </li>
            </ul>
        </li>
    </ul>

    <a href="#" onclick={close} class="admin_panel_close">Закрыть</a>

    <script>
        var self = this;

        this.on('mount', function() {
            opts.panel.trigger('update');
        });

        opts.panel.on('redraw', function(){
            self.update();
        });

        close(e){
            $('#admin_link').show();
            $.removeCookie('grass_panel');
            $('#admin_panel').slideUp(function(){
                self.unmount(true);
            });
        }
    </script>
</panel>
