
<panel>
    <p>{opts.title}</p>

    <ul>
        <li each={items}>
            <a>{title}</a>
        </li>
    </ul>

    <a href="#" onclick={close} class="admin_panel_close">Закрыть</a>

    <script>
        this.items = [{title: 'Настройки'}, {title: 'Пользователи'}, {title: 'Группы'}];

        this.on('mount', function() {
            $('#admin_panel').slideDown();
        });

        close(e){
            $('#admin_link').show();
            $.removeCookie('grass_panel');
            var self = this;
            $('#admin_panel').slideUp(function(){
                self.unmount(true);
            });
        }
    </script>
</panel>
